<style>
a:hover {
	color:yellow;
}
</style>
<div class="header w-full min-h-screen flex flex-col justify-between">
 <!--    {{ partial "navbar.html" . }} -->
    <div class="flex flex-col justify-center h-full py-12" style="background-color: #000000;">
     <img src="img/saimaan-pixel-logo.jpg" style="width:70%; margin-right:auto;margin-left:auto;"><br />
     <img src="img/saimaanpixel.fi-led-mainostaulu-kartta.png" style="width:70%; margin-right:auto;margin-left:auto;">
 <center>
 <h2 style="color:white;font-size:x-large;">
 <!--Soita <a href="tel:0503218017">050-321 8017</a>-->Lähetä viestisi myynti(ät)saimaanpixel(piste)fi ja kysy lisää<br /><a title="Kaksipuoleinen näyttö, 6 x 3,5 m, kolmion muodossa takaa parhaan näkyvyyden" href="/img/saimaanpixel.fi-led-mainostaulu-kartta.png" rel="nofollow" target="_blank">Kuutostien parhaasta valomainospaikasta Parikkalan Särkisalmella</a></h2>
 <br />(<a title="Kuutestie, kaksipuoleinen näyttö, 6 x 3,5 m, kolmion muodossa takaa parhaan näkyvyyden" href="/img/saimaanpixel.fi-led-mainostaulu-kartta.png" rel="nofollow" target="_blank">Karttakuva kohteesta</a>)
<br /><a title="Kaksipuoleinen näyttö, 6 x 3,5 m, mediakortti Särkisalmi" href="/img/Saimaan_Pixel_LED-taulu_Mediakortti-2021.pdf" rel="nofollow" target="_blank">Mediakortti 2021</a></h2>
 </center>
  </div>

</div>