<style>
a:hover {
	color:yellow;
}
</style>
<div class="header w-full min-h-screen flex flex-col justify-between">
 <!--    {{ partial "navbar.html" . }} -->
    <div class="flex flex-col justify-center h-full py-12" style="background-color: #000000;">
     <img src="img/saimaan-pixel-logo.jpg" style="width:70%; margin-right:auto;margin-left:auto;">
 <center>
 <h2 style="color:white;font-size:x-large;">
 <!--Soita <a href="tel:0503218017">050-321 8017</a>-->Lähetä viestisi myynti(ät)saimaanpixel(piste)fi ja kysy lisää<br /><a href="/img/saimaanpixel.fi-led-mainostaulu-kartta.png" rel="nofollow" target="_blank">Kuutostien parhaasta valomainospaikasta Parikkalan Särkisalmella</a></h2>
 </center>
  </div>

</div>